/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

html {
    font-size: 10px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #BBDCE5;
}


main {
    width: 100%;
    max-width: 1200px;
    min-height: 570px;
    height: 70%;
    background-color: white;
    display: flex;
    justify-content: space-evenly;
    border-radius: 2rem;
    flex-wrap: wrap;

}

.vertical-separator {
    width: 1px;
    height: 90%;
    background-color: rgba(0, 0, 0, 0.25);
    display: block;
    margin: auto 0;
}

.horizontal-separator {
    height: 1px;
    width: 70%;
    background-color: rgba(0, 0, 0, 0.25);
    display: block;
    margin: 0 auto;
    font: 10px;
    margin-top: 0.5em;
}

.horizontal-separator-on-off {
    display: none;
}

.card {
    width: 300px;
    height: 100%;
    text-align: center;
}


.card img {
    width: 200px;
    height: 129px;
    display: block;
    margin: 0 auto;
    font-size: 10px;
    margin-top: 5em;
}

.card p {
    font-size: 1.6rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.card p:nth-of-type(1) {
    margin-top: 1rem;
    margin-bottom: 2rem;
    font-size: 1.8rem;
}

.card p:nth-of-type(3) {
    height: 3.2rem;
}

.card p:last-of-type {
    font-size: 3rem;
    font-weight: 600;
}

.card button {
    display: block;
    margin: 0 auto;
    width: 60%;
    height: 10%;
    border-radius: 1rem;
    background-color: white;
    font-size: 1.8rem;
    cursor: pointer;
}

.enterprise.card button {
    margin-bottom: 5rem;
}

.card button:hover {
    background-color: #bbdce580;
}

@media (max-width: 970px) {

    body {
        height: 100%;
        min-width: 400px;
    }

    main {
        height: 100%;
        flex-direction: column;
    }

    .vertical-separator {
        display: none;
    }

    .card {
        width: 100%;
    }

    .card img {
        width: 36%;
        height: 18%;
        min-width: 250px;
        min-height: 125px;
    }

    .card button {
        width: 30%;
        max-width: 250px;
    }

    .horizontal-separator-on-off {
        height: 1px;
        width: 70%;
        display: block;
        background-color: #BBDCE5;
        margin: 0 auto;
        margin-top: 10rem;
    }

    .horizontal-separator,
    .horizontal-separator-on-off {
        width: 60%;
    }

}